@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.modal-ul-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modal-property-header {
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
  align-self: center;
}

.modal-col-style{
  display: flex;
  justify-content: end;
}

.modal-row-style{
  margin: 1rem 0;
}

.modal-list-item{
  color: white;
  margin: 0;
  padding: 0 1rem;
}

.modal-paragraph{
  margin: 0;
  text-transform: capitalize;
}

.badge-min-width{
  min-width: 6rem;
}

.modal-button {
  color: $logoYellow;
  font-weight: bold;
  text-transform: capitalize;
  &:disabled {
    color: $logoYellow;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.modal-loading-image {
  @include loading-image(15vmin);
}
