@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.ul-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
.property-header {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.modal-button {
  color: $logoYellow;
  font-weight: bold;
  text-transform: capitalize;
  &:disabled {
    color: $logoYellow;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.modal-loading-image {
  @include loading-image(15vmin);
}
